[submodule "tinyFaaS"]
	path = tinyFaaS
	url = git@github.com:mactavishz/tinyFaaS.git
[submodule "faasd"]
	path = faasd
	url = git@github.com:mactavishz/faasd.git
[submodule "faas-cli"]
	path = faas-cli
	url = git@github.com:mactavishz/faas-cli.git
[submodule "go-sdk"]
	path = go-sdk
	url = git@github.com:mactavishz/go-sdk.git
