[submodule "tinyFaaS"]
	path =	tinyFaaS
	url  =	https://github.com/mactavishz/tinyFaaS.git
[submodule "faasd"]
	path =	faasd
	url  =	https://github.com/mactavishz/faasd.git
[submodule "faas-cli"]
	path =	faas-cli
	url  =	https://github.com/mactavishz/faas-cli.git
[submodule "go-sdk"]
	path =	go-sdk
	url  =	https://github.com/mactavishz/go-sdk
[submodule "faas-gateway"]
	path = faas-gateway
	url = https://github.com/mactavishz/faas-gateway.git
